@import "tailwindcss";

@theme {
  --color-primary-500: #3b82f6; /* Blue 500 */
  --color-primary-600: #2563eb; /* Blue 600 */
}

body {
    background-color: #f8fafc;
    color: #0f172a;
    font-family: 'Inter', system-ui, sans-serif;
}
